<div class="border rounded container-fluid m-0 p-0">
  <p class="text-secondary text-center align-self-center" style="font-size: x-large; width: 95%; margin: auto">Clusters
    <button type="button" class="btn btn-success align-self-center" style="padding:  3px 9px 3px 9px;"><i class="bi bi-plus-lg"></i>
    </button></p>
  <div style="overflow-y: auto; overflow-x: hidden; height: 70vh" class="mt-2 border-top">
    <div *ngFor="let cluster of clusters ; index as i">
      <div class="row mt-2">
        <div class="col-12 pl-4 pr-4">
          <app-destination [clusterNum]="i"></app-destination>
        </div>
      </div>
    </div>
  </div>
</div>
